* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif !important;
  }
 
  .navbar-links-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    float: right;
  }
  ul li{
    display: inline-block; padding:10px;
    font-size:20px; font-family:raleway;
  }
  ul li:hover{
    color:orange;
    
  }
  .logo-img{
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
  }
 
  
  .navbar-links-container a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    float: right;
  }
  .navbar-links-container a:hover{
    color:orange;
  }
  .primary-button {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
  }
  .primary-button:hover {
    background-color: rgb(234, 234, 234);
  }
  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
    overflow: hidden;
  }
 
 
  .footer-body {
    background-color: black;
    border: 13px grey;
  }
  .footer-wrapper {
    margin: 10rem 5rem;
    display: flex;
    margin-top: 10rem;    
    position: relative;
  }
  @media (max-width:600px){
    .footer-wrapper {
      margin: 20%;
      display: block;
    }
    .footer-body{
      width: 100vw;
      display: block;
      margin: 0;
    }
  }
  .footer-logo {
    height: 20%;
    width: 40%;
    margin-top: 10%;
  }
  .footer-icons {
    margin-top: 2.5rem;
  }
  .footer-icons svg {
    font-size: 1.5rem;
    margin-right: 1.25rem;
    color: #585858;
  }
  .footer-section-two {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
  }
  .footer-section-columns {
    display: flex;
    flex-direction: column;
    min-width: 190px;
  }
  .footer-section-columns span {
    margin: 0.25rem 0rem;
    font-weight: 600;
    color: #4c4c4c;
    cursor: pointer;
  }
  
  
  @media (max-width: 1000px) {
    .navbar-links-container a {
      margin-right: 1rem;
      font-size: 1rem;
    }
    .primary-button {
      font-size: 1rem;
    }
  }
  @media (max-width: 800px) {
    .nav-logo-container {
      max-width: 140px;
    }
    .navbar-links-container {
      display: none;
    }
    .navbar-menu-container {
      display: flex;
    }
    .home-bannerImage-container {
      max-width: 450px;
    }
    .footer-wrapper {
      flex-direction: column;
    }
    .footer-section-two {
      flex-direction: column;
      margin-top: 2rem;
    }
    .footer-section-columns {
      margin: 1rem 0rem;
    }
    .App {
      max-width: 95vw;
    }
  }
  @media (max-width: 600px) {
    .home-bannerImage-container,
    .about-background-image-container {
      display: none;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }

  .resgister-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg');
    
  } 

  .login-head{
    font-size: 30px;
    margin-left:20%;
  }

  .login-design{
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    width: 40%;
    margin-top: 3rem;

    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      background-color: #399953;
      background-repeat: no-repeat;
      background-size: 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
      animation: rotate 4s linear infinite;
    }
    
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 6px;
      top: 6px;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
      background: rgba(245, 245, 245, 0.788);
      border-radius: 5px;
      animation: opacityChange 3s infinite alternate;
    }

  }
  
  @keyframes opacityChange {
    50% {
      opacity:1;
    }
    100% {
      opacity: .5;
    }
  }